/*
	Theme Name: FullFathom V
	Theme URI: http://fullfathomfivehawaii.com
	Author: Andrew Kemp
	Author URI: http://ankemp.com
	Description: A Custom WordPress theme by Andrew Kemp
	Version: 0.5.4.3
	Template: fullfathomv
	Bitbucket Theme URI: https://bitbucket.org/dapezboy/fullfathomv
	Bitbucket Branch: master
*/

/* --- Fonts --- */

/* --- Default Styles --- */
html {
	font-size: 62.5%;
}
p, ol, ul {
	margin: 0;
	margin-bottom: 1.2em;
	font-size: 1.4rem; font-size: 14px;
}
img.alignleft {
	float: left;
	display: block;
	margin-right: 15px;
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
img.alignright {
	float: right;
	display: block;
	margin-left: 15px;
	margin-bottom: 10px;
}
img.aligncenter {
	float: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
img.alignnone {
	float: none;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* --- Custom Theme Styles --- */
body {
	background: #fff;
}
em {
	color: #444444;
}
a {
	color: #79A888;
}
a.no-deco {
	text-decoration: none;
}
a:hover {
	color: #344152;
	text-decoration: none;
}
a img:not(.logo):hover {
	opacity:.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition:all .15s  linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	-webkit-backface-visibility: none;
}
.uk-navbar.sepp {
	background-color: #344152;
	box-shadow: 2px 3px 4px 0px rgba(2, 2, 2, 0.2);
	height: 36px;
}
.uk-navbar.sepp .uk-navbar-center {
	text-transform: uppercase;
	font-size: 1.6rem; font-size: 16px;
	font-weight: 700;
	color: #fff;
	padding-top: 7px;
}
.uk-container {
	max-width: 1200px;
}
.uk-icon-button {
	background: transparent;
	color: #ffffff;
	text-shadow: none;
	width: 25px;
	height: 30px;
	line-height: 30px;
	font-size: 1.9rem; font-size: 19px;
	padding-top: 1px;
	border: 0;
	margin: 0 5px;
	z-index: 1010;
}
.uk-icon-button:hover {
	background-color: transparent;
	color: #000000;
	border: 0;
}
.logo-box {
	position: relative;
	display: block;
	height: 75px;
}
.logo-box a img {
	float: left;
	margin: 5px 0;
	z-index: 1010;
	height: 120px;
}
.logo-box h1 {
	position: absolute;
	top: 50%; margin-top: 0px;
	left: 175px;
}
.fourohfour {
	font-size: 6.4rem; font-size: 64px;
	line-height: 64px;
}
.uk-article {
	font-size: 1.4rem; font-size: 14px;
}
.uk-article-title {
	text-transform: uppercase;
}
.main .uk-article+.uk-article {
	padding-top: 25px;
	border-top: 1px #c2c758 solid;
}
.main .uk-article .uk-article-meta {
	color: #45494d;;
	font-size: 1.5rem; font-size: 15px;
	font-style: italic;
}


/* --- NavBar --- */
.uk-navbar-nav li a {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #111;
	border: 0;
	text-shadow: none;
	box-shadow: none;
	font-size: 1.8rem; font-size: 18px;
	text-transform: uppercase;
}
.uk-dropdown-navbar {
	margin-top: -3px;
	background: #fff;
	color: #111;
	left: -1px;
	border-radius: 0;
	box-shadow: 2px 3px 4px 0px rgba(2, 2, 2, 0.2);
}
.uk-dropdown-navbar li a {
	font-size: 1.3rem; font-size: 13px;
	padding-bottom: 10px;
	border-bottom: 0;
	box-shadow: none;
	text-shadow: none;
}
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li.uk-open>a,
.uk-navbar-nav>li.uk-active>a  {
	background: #fff;
}
.uk-navbar-nav>li:hover>a,
.uk-nav-navbar>li>a:hover,
.uk-nav-navbar>li>a:focus,
.uk-dropdown li.uk-active>a {
	background: #fff;
	color: #79A888;
	border-bottom: 0;
	box-shadow: none;
	text-shadow: none;
}
.uk-navbar-toggle {
	color: #fff;
	margin-top: -38px;
	font-size: 2.2rem; font-size: 22px;
	text-shadow: none;
	z-index: 1111;
}
.uk-navbar-toggle:hover {
	color: #fff;
}


/* --- Home Page Styles --- */
.bxslider {
	list-style: none;
	max-height: 400px;
	padding-left: 0px;
	z-index: 999;
}
.bx-wrapper .bx-viewport {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: 0;
}
.bxslider img {
	display: block;
}
.bxslider .overlay {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: left;
	color: #182e04;
	padding: 12px;
	position: absolute;
	display: block;
	bottom: 30px;
	left: 5%;
	font-size: 1.7rem; font-size: 17px;
	text-transform: uppercase;
}
.bxslider .overlay a {
	color: #e4587f;
}

.bxslider .overlay h2 {
	color: #182e04;;
	font-size: 3.6rem; font-size: 36px;
	line-height: 34px;
	text-transform: uppercase;
	font-weight: 500;
}
.bxslider .overlay a:hover {
	color: #333;
	text-decoration: none;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #344152;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: #79A888;
}
#bx-pager a.active img {
	opacity:.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition:all .15s  linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	-webkit-backface-visibility: none;
}

/* --- Sidebar Menu --- */
.sidebar div {
	margin: 15px 0;
}
.sidebar .widget-title {
	color: #182e04;
	font-size: 2.2rem; font-size: 22px;
	text-transform: uppercase;
}
.uk-search input[type].uk-form-large.uk-form-large {
	height: 38px !important;
	padding: 0 25px !important;
	font-size: 16px !important;
	line-height: 14px !important;
}
.menu-sidebar-menu-container ul {
	list-style: none;
	text-transform: uppercase;
	font-size: 1.6rem; font-size: 16px;
	line-height: 1.5;
	font-weight: 700;
	padding-left: 0;
}
.menu-sidebar-menu-container ul a {
	color:  #182e04;
}
.mp_categories_widget ul {
	list-style: none;
}
.mp_categories_widget ul li {
	font-size: 2.0rem; font-size: 20px;
	line-height: 22px;
}
.related-products {
	list-style: none;
	padding-left: 0;
}
.related-products li a {
	color: #182e04;
	list-style: none;
	text-transform: uppercase;
	font-size: 1.6rem; font-size: 16px;
	line-height: 1.5;
	font-weight: 700;
}
.related-products li a {
	text-decoration: none;
}
.related-products li a span {
	color: #79A888;
	font-size: 1.2rem; font-size: 12px;
}
.related-products .order-bespoke {
	font-size: 14px;
}


/* --- Store --- */
h2.fav-products {
	text-transform: uppercase;
}
ul.product-list .uk-button-primary,
ul.fav-products .uk-button-primary {
	background-color: #344152;
}
ul.product-list .uk-button-primary:hover,
ul.fav-products .uk-button-primary:hover {
	background-color: #465d7a;
}
#mp-anywhere-cart .mpawc-btn.mpawc-btn-link {
	color: #fff !important;
}
.cart {
	float: right;
	position: relative;
	font-size: 1.4rem; font-size: 14px;
	top: -33px;
	left: 15px;
}
.cart .mp_store_link {
	color: #79A888 !important;
}
.product-page .swap {
	overflow: hidden;
}
.product-page .uk-article-title {
	text-transform: uppercase;
	color: #182e04;
	font-size: 3.2rem; font-size: 32px;
}
.product-page .uk-article-meta,
.product-page .uk-article-meta span a {
	text-transform: uppercase;
	font-size: 1.6rem; font-size: 16px;
}
.product-page .price {
	color: #79A888;
	font-size: 2.6rem; font-size: 26px;
	font-weight: 700;
}
.product-page .mp_quantity {
	text-transform: uppercase;
	display: block;
	width: 100%;
	color: #182e04;
	margin: 8.5px 0;
}
.product-page .mp_quantity_field {
	text-align: center;
	height: 40px;
	width: 60px;
}
.product-page .addtocart .mp_button_addcart {
	text-transform: uppercase;
	background-color: #344152;
	color: #fff;
	font-size: 1.7rem; font-size: 17px;
	padding: 15px;
	border: none;
}
.product-page .addtocart .mp_button_addcart:hover {
	background: #344152;
	box-shadow: 2px 3px 4px 0px rgba(2, 2, 2, 0.2);
}
#mp-anywhere-cart .mpawc-dropdown-cart {
	left: -221px;
	width: 306px;
}
#mp-anywhere-cart .mpawc-dropdown-cart:before {
	position: absolute;
	top: -12px;
	left: 269px;
	display: inline-block;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ccc;
	border-left: 12px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}
#mp-anywhere-cart .mpawc-dropdown-cart:after {
	position: absolute;
	top: -11px;
	left: 270px;
	display: inline-block;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #ffffff;
	border-left: 11px solid transparent;
	content: '';
}
.mp_checkout_link {
	float: right;
}
.mp_cart_col_quant {
	text-align: center;
}
.mp_cart_breadcrumbs {
	margin: 10px 0;
}
.mp_cart_breadcrumbs .incomplete {
	color: #d85030;
}
.mp_cart_breadcrumbs .current {
	color: #344152;
}
.mp_cart_breadcrumbs .sep {
	margin: 0 5px;
}
.product-page form.mp_buy_form {
	float: none;
}
.product-page .content {
	color: #182e04;
}
.mp_cart_col_product_table a {
	color: #000;
}
.checkout input[type=submit] {
	background-color: #344152;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem; font-size: 14px;
	padding: 4px;
	border: none;
}
.checkout .mp_cart_contents {
	width: 100%;
}
.checkout .mp_cart_direct_checkout_link {
	float: left;
	text-transform: uppercase;
	background-color: #344152;
	color: #fff;
	font-size: 2rem; font-size: 20px;
	padding: 8px;
	margin-top: 10px;
	border: none;
}

/* --- Product-loop_other --- */

.panel-product .product-teaser {
	width: 100%;
}
.panel-product .product-title {
	background-color: #79A888;
	height: 45px;
	overflow: hidden;
}
.panel-product .product-price {
	background-color: #79A888;
	color: #344152;
	text-align: center;
	padding-bottom: 5px;
}
.panel-product .product-title h3 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.panel-product a .product-addtocart {
	background-color: #344152;
	width: 96%;
	padding: 0 2%;
	text-align: right;
	color: #fff;
	text-transform: uppercase;
}
.panel-product a .product-addtocart:hover {
	background: #465d7a;
	text-decoration: none;
}
.panel-product a:hover {
	text-decoration: none;
}

/* --- Pagination --- */
.uk-pagination li a {
	font-size: 1.4rem; font-size: 14px;
	background-color: #344152;
	color: #fff;
	text-shadow: none;
}
.uk-pagination li a:hover {
	font-size: 1.4rem; font-size: 14px;
	background-color: #465d7a;
	color: #fff;
	text-shadow: none;
}

/* --- Footer --- */
footer {
	margin-top: 30px;
}
footer .links {
	background-color: #fff;
}
footer .links ul {
	padding: 20px 0;
	margin-bottom: 0;
}
footer .links li {
	text-transform: uppercase;
	list-style: none;
	display: inline;
	padding-right: 25px;
	font-size: 1.2rem; font-size: 12px;
}
footer .links li a {
	color: #79A888;
}
footer .links li a:hover {
	color: #344152;
	text-decoration: none;
}
footer .ak {
	background-color: #79A888;
}
footer .ak div,
footer .ak a,
footer .ak a:hover {
	padding: 10px 0;
	color: #344152;
}

/* --- Responsive --- */
/* Desktop and bigger */
@media (min-width: 960px) {
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
	.logo-box h1 {
		display: none;
	}
	.cart {
		float: left;
		position: relative;
		top: -6px;
		left: 0;
	}
	#mp-anywhere-cart .mpawc-dropdown-cart {
		left: 0;
	}
	#mp-anywhere-cart .mpawc-dropdown-cart:before {
		position: absolute;
		top: -12px;
		left: 269px;
		display: inline-block;
		border-right: 12px solid transparent;
		border-bottom: 12px solid #ccc;
		border-left: 12px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}
	#mp-anywhere-cart .mpawc-dropdown-cart:after {
		position: absolute;
		top: -11px;
		left: 270px;
		display: inline-block;
		border-right: 11px solid transparent;
		border-bottom: 11px solid #ffffff;
		border-left: 11px solid transparent;
		content: '';
	}
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
	.logo-box h1 {
		display: none;
	}
	.logo-box a img {
		float: none;
		max-height: 75px;
		margin-left: auto;
		margin-right: auto;
	}
	.uk-overlay-caption {
		padding: 8px;
	}
	.top-section .uk-overlay-caption a {
		font-size: 10px;
	}
	.bxslider,
	iframe {
		height: 200px;
	}
	.product-list .uk-width-medium-1-4,
	.fav-products .uk-width-medium-1-4 {
		width: 50%;
	}
	.uk-navbar {
		height: 32px;
	}
	.cart {
		float: left;
		position: relative;
		top: -6px;
		left: 0;
	}
	.mp_cart_breadcrumbs {
		display: none;
	}
	#mp-anywhere-cart .mpawc-dropdown-cart {
		left: 0;
	}
	#mp-anywhere-cart .mpawc-dropdown-cart:before {
		position: absolute;
		top: -12px;
		left: 9px;
		display: inline-block;
		border-right: 12px solid transparent;
		border-bottom: 12px solid #ccc;
		border-left: 12px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}
	#mp-anywhere-cart .mpawc-dropdown-cart:after {
		position: absolute;
		top: -11px;
		left: 10px;
		display: inline-block;
		border-right: 11px solid transparent;
		border-bottom: 11px solid #ffffff;
		border-left: 11px solid transparent;
		content: '';
	}
}

